#header{
	height: 150px;
	width: max;
	text-align: center;
	background: blue;
	color: red;
}
.twin{
	background: red;
border: 3px;
width: 400px;
height: 132px;
	float: right;
	text-align: center;

}
.twin1{
	background: yellow;
	border: 3px;
	height: 200px;
	width: 400px	
	float: left;
	text-align: center;
}
p{
	color:black;
}
.main-content{
	border: 3px;
	text-align: center;
	color: red;
	background: pink;
	height: 150px;
	width: max;
}
#footer
{
	background: green;
	border: 3px;
	height: 100px;
	text-align: center;
}